@charset "utf-8";


@mixin sideBox {
    border: 1px solid #aaa;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 100px;
    background-color: #fff;
    cursor: move;
}


@mixin sidebarH2 {
    font-size: 1.7rem;
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 62.5%
}


body {
    display: grid;
    position: relative;
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
}


.wrapper {
    display: grid;
    //align-content: flex-start;
    grid-template-rows: 160px 4fr 100px;
    grid-gap: 0rem;
    position: relative;
    min-height: 100vh;


    header {

        .header-inner {
            width: 100%;
            max-width: 1000px;
            height: 60px;
            border: 1px solid #ddd;
            background-color: #f7f7ef;
            margin: 0 auto;
        }
    
        nav {
            width: 100%;
    
            ul {
    
                &.global-nav {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, 25%);
                    list-style: none;
                    margin: 0 auto;
                    padding: 2rem 0 1.5rem;
                    width: 100%;
                    max-width: 1000px;
                    position: relative;
    
            
                    li {
                       &.nav-item {
                            cursor: pointer;
                            padding: 1.5rem 0.5rem;
                            border-left: 1px solid #ddd;

                            &:last-child {
                                border-right: 1px solid #ddd;
                            }
    
                            & > a {
                                color: #000;
                                text-decoration: none;
                                font-size: 1.65rem;
                                width: 100%;
                                display: grid;
                                justify-content: center;
                                align-items: center;

                                span {
                                    position: relative;
                                }
                            }
    
                            &:hover {
    
                                .nav-link span::after {
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 2px;
                                    bottom: -6px;
                                    left: 0;
                                    background-color: green;
                                }
                            }
    
                            .hover-list-bg {
                                position: absolute;
                                top: 74px;
                                left: 0;
                                width: 100%;
                                content: "";
                                margin: 0 auto;
                                z-index: 20;
                                display: none;
                                border: 1px solid #ddd;
    
                                &.show {
                                    display:block;
                                }
    
    
                                .hover-list {
                                    display: grid;
                                    grid-template-columns: 50% 50%;
                                    margin: 0 auto;
                                    overflow: hidden;
                                    width: 100%;
                                    max-width: 1000px;
                                    background-color: #f5f5f5;
    
                                    .hover-list-items {
                                        display: grid;
                                        align-items: center;
                                        justify-content: center;                                        
                                        height: 54px;
                                        line-height: 1.3;
                                        padding: 0 30px;
                                        width: 400px;
    
                                        .hover-list-links {
                                            align-items: center;
                                            color: #4b4b4b;
                                            padding: 0 20px;
                                            text-align: center;
    
                                            &:hover {
                                                color: #000;
                                                font-weight: bold;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
    
                                .hover-list {
                                    height: 100%;
                                    padding: 20px 0 30px 0;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
    

    main {
        position: relative;
        min-height: 1%;
        padding-top: 10px;
        padding: 1.5rem;

        .container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            max-width: 1000px;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            @media screen and (max-width:768px) {
                 grid-template-columns: 1fr;

                 .main-contents {
                    order: 1;
                 }

                 .sidebar-left {
                    order: 2;
                 }

                 .sidebar-right {
                    order: 3;
                 }
            }           

            &.sub-contents {
                display: block;

                .breadcrumb-list {
                    width: 100%;
    
                    ol {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        list-style: none;
                        margin: 0;
                        padding-left: 0;
    
                        li {
                            margin-bottom: 0;
                            color: #333;
                            font-size: 1.4rem;
    
                            &:not(:last-child)::after {
                                content: ">";
                                padding-left: 1rem;
                                padding-right: 1rem;
                            }
                        }
                    }
                }
            }
        

            .main-contents {
                padding: 10px;
                margin-bottom: .8rem;

                @media screen and (max-width:768px) {
                    padding: 0;
                }

                .news-area {
                    border: 1px solid #aaa;
                    min-height: 300px;
                    padding: 0 .5rem;

                    h2 {
                        font-size: 1.9rem;
                        margin: 0;
                        padding: 5px 10px;
                    }
                }
            }
            
            .sidebar-left {
                border: 1.5px solid green;
                background-color: #cce1cc;
                padding: 5px 5px 2px;
                align-self: start;
                margin-bottom: .8rem;

                h2 {
                    @include sidebarH2;
                }

                .recently-area {
                    @include sideBox;
                    display: flex;
                    flex-direction: column;

                    .history-box {
                        padding: 0;
                        margin: 0 0 0 .5rem;
                        
                        li {
                            list-style: none;

                            a {
                                font-size: 1.3rem;
                            }
                        }
                    }

                    .del-area {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: auto;

                        input {
                            font-size: 1.1rem;
                            border: none;
                            background-color: transparent;
                            color: blue;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .tenant-area {
                    @include sideBox;
                }

                .organize-area {
                    @include sideBox;   
                }
        
            }
            
            .sidebar-right {
                border: 1.5px solid green;
                background-color: #cce1cc;
                padding: 5px 5px 2px;
                margin-bottom: .8rem;
                align-self: start;

                h2 {
                    @include sidebarH2;
                }

                .today-schedule-area {
                    @include sideBox;
                }

                .announce-area {
                    @include sideBox;
                }

                .banner-area {
                    @include sideBox;
                }
            }

            .sort-reset {
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    footer {
        width: 100%;
        max-width: 1000px;
        height: 60px;
        border: 1px solid #aaa;
        background-color: #f7f7ef;
        margin: 0 auto 0;
        align-self: end;
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.show {
    animation-name: fadeIn;
    animation-duration: .4s;
}




